* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


 /*Styling af inforgraphic.html*/

 
 .infographic{
<<<<<<< HEAD
    height: 2rem;
 }

 /*Styler min footer*/
footer {
   display: flex;
   justify-content: space-between; 
   align-items: center;
   height: 100%;
   width: 100%;
   margin-bottom: 0;
   background-color: #344693;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1rem;
   color: #f1dfdd;
   text-align: center;

}

/*Ændre farven på mine medie ikoner*/
footer a {
   color: #f1dfdd;
   size: 3rem;
}

#info, #medier {
   
   padding: 2rem;
   box-sizing: border-box;

}

#medier {
   font-size: 2rem;
   
}
=======
   height: 45rem;
   width: 30rem;
 }

 .infographic-div img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   
   
 }
>>>>>>> 18f14e08a2f9b89604cb5dc0acafa446c6520ffe
