* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


 /*Styling af inforgraphic.html*/

 
 .infographic{
   height: 45rem;
   width: 30rem;
 }

 .infographic-div img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   
   
 }
